* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 1000px;
  margin: 50px auto;
}

/* Heading and Profession */

#heading,
#profession {
  text-align: center;
}

.container {
  width: 100%;
  font-size: 0;
}

/* Left container */

.left-container,
.right-container {
  width: 50%;
  display: inline-block;
  font-size: initial;
}

section {
  margin-top: 25px;
}

/* Contact information*/

.contact-list,
.contact-list li,
.skills-list,
.skills-list li,
.languages-list,
.languages-list li {
  margin-top: 5px;
}

.contact-link {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  color: black;
  transition: text-decoration-color 300ms;
}

.contact-link:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}

/* Right container */

.description {
  margin-top: 8px;
}
